<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <button onclick="vm.openform()">Open Form</button>
    <h2>Nilai A : {{a}}</h2>
    <h2>Rata Rata : {{b}}</h2>
    <p>Note : Propmt akan diulang 4x</p>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        a: 0,
        b: 0
      },
      methods : {
        openform : function() {
          let arr = [0,1,2,3];

          for(let i = 0; i < arr.length; i++) {
            arr[i] = parseInt(prompt("Masukkan Nilai A"));
          }

          this.a = arr[0] + arr[1] + arr[2] + arr[3];
          
          // rata rata
          this.b = this.a / arr.length;

          // this.a = prompt("Masukkan Nilai A");
        }
      }
  })
  </script>
</body>
</html>