<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TUGAS CRUD MEMBER</title>
    <style>
        label {
            display: block;
        }
    </style>
</head>
<body>

<div id="app">
    <!-- <div>
        <h1>Edit Member</h1>
        <form @submit.prevent="submitForm()">
            <p v-if="errors.length">
                <b>Tolong ikuti petunjuk yang kami berikan :</b>
                <ol>
                    <li v-for="error in errors" style="font-style:italic;color:red;">{{error}}</li>
                </ol>
            </p>
            <ul>
                <input type="file" name="photo" id="photo" ref="photo">
                <input type="button" value="Upload">
                <input type="button" value="Cancel" @click="clearAll()">
            </ul>
        </form>
    </div> -->
    <div>
        <form @submit.prevent="submitForm()">
            <p v-if="errors.length">
                <b>Tolong ikuti petunjuk yang kami berikan :</b>
                <ol>
                    <li v-for="error in errors" style="font-style:italic;color:red;">{{error}}</li>
                </ol>
            </p>
            <ul>
                <li>
                    <label for="name">Nama :</label>
                    <input type="text" name="name" id="name" v-model="name" ref="name" :disabled="buttonStatus == 'upload'">
                </li>
                <li>
                    <label for="address">Address :</label>
                    <textarea name="address" id="address" cols="30" rows="10" v-model="address" ref="address" :disabled="buttonStatus == 'upload'"></textarea>
                </li>
                <li>
                    <label for="no_hp">No Hp :</label>
                    <input type="text" name="no_hp" id="no_hp" v-model="no_hp" ref="no_hp" :disabled="buttonStatus == 'upload'">
                </li>

                <div v-if="buttonStatus == 'submit'">
                    <input type="submit" value="Submit">
                </div>
                <div v-else-if="buttonStatus == 'update'">
                    <input type="button" value="Update" @click="updateMember(idEditMember)">
                    <input type="button" value="Cancel" @click="clearForm()">
                </div>
                <div v-else-if="buttonStatus == 'upload'">
                    <li>
                        <label for="photo">Upload Foto :</label>
                        <input type="file" name="photo" id="photo" ref="photo">
                    </li>
                    <input type="button" value="Upload" @click="submitPhoto(idUploadMember)">
                    <input type="button" value="Cancel" @click="clearForm()">
                </div>
            </ul>
        </form>
    </div>
    <div>
        <h1>Detail Member</h1>
        <ul>
            <li>Nama : {{member.name}}</li>
            <li>Alamat : {{member.address}}</li>
            <li>No Hp : {{member.no_hp}}</li>
        </ul>
    </div>
    <h1>Daftar Member</h1>

    <table border="1" cellspacing="0" cellpadding="10">
        <tr>
            <th>#</th>
            <th>Gambar</th>
            <th>Nama</th>
            <th>Alamat</th>
            <th>No Hp</th>
            <th>Action</th>
        </tr>
        <tr v-for="(member, index) of members" :key="member.id, index">
            <td>{{index+1}}</td>
            <td>
                <img width="100" :src="member.photo_profile ? photoDomain + member.photo_profile : 'https://dummyimage.com/16:9x1080'" alt="profile">
            </td>
            <td>{{member.name}}</td>
            <td>{{member.address}}</td>
            <td>{{member.no_hp}}</td>
            <td>
                <button @click="showMember(member.id)">Detail</button>
                <button @click="editMember(member)">Edit</button>
                <button @click="removeMember(member.id)">Delete</button>
                <button @click="uploadPhoto(member)">Upload Foto</button>
            </td>
        </tr>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
    var api = axios.create({
        baseURL: 'http://demo-api-vue.sanbercloud.com/api/member'
    })
    let app = new Vue({
        el: '#app',
        data: {
            members: [],
            member: [],
            name: '',
            address: '',
            no_hp: '',

            errors: [],
            isEditMember: null,
            idUploadMember: null,
            buttonStatus: 'submit',
            photoDomain: 'http://demo-api-vue.sanbercloud.com'
        },
        methods: {
            validationForm : function() {
                this.errors = [];

                if(this.name.length < 4) {
                    this.$refs.name.focus();
                    this.errors.push('Nama minimal 4 karakter!');
                }
                if(this.address.length > 200) {
                    this.$refs.name.address();
                    this.errors.push('Alamat maximal 200 karakter!');
                }
                if(this.no_hp.length < 10 || this.no_hp.length > 12) {
                    this.$refs.no_hp.focus();
                    this.errors.push('Nomor Telepon harus 10 digit!');
                }
            },
            clearForm : function() {
                this.name = '';
                this.address = '';
                this.no_hp = '';
                this.idEditMember = null;
                this.idUploadMember = null;
                this.buttonStatus = 'submit';
            },
            submitForm : function() {
                this.validationForm();

                if(this.errors.length === 0) {
                    let formData= new FormData();
                    formData.append('name', this.name);
                    formData.append('address', this.address);
                    formData.append('no_hp', this.no_hp);
                    
                    const config = {
                        method: 'post',
                        url: 'http://demo-api-vue.sanbercloud.com/api/member',
                        data: formData
                    };

                    axios(config)
                        .then((response) => {
                            this.clearForm();
                            this.getMember();
                            
                            alert('Member baru berhasil ditambahkan!');
                            // console.log(response.data.message);
                        })
                        .catch((error) => {
                            alert(error);
                        })

                }
            },
            getMember : async function() {
                try {
                    const config = {
                        method: 'get',
                        url: ''
                    };

                    const res = await api(config);
                    this.members = res.data.members;

                    console.log(res.data);
                } catch (error) {
                    console.log(error);  
                }
            },
            showMember : async function(idMember) {
                try {
                    const config = {
                        method: 'get',
                        url: `${idMember}`
                    };

                    const res = await api(config);
                    this.member = res.data.member;

                    console.log(res.data);
                } catch (error) {
                    console.log(error);  
                }
            },
            removeMember : function(id) {
                const config = {
                    method: 'post',
                    url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                    params: {_method: "DELETE"}
                };

                axios(config)
                    .then((response) => {
                        this.getMember();
                        confirm('Anda yakin?');
                        alert('Member berhasil dihapus!');
                        // console.log(response.data.message);
                    })
                    .catch((error) => {
                        alert(error);
                    })
            },
            editMember : function(member) {
                this.name = member.name;
                this.address = member.address;
                this.no_hp = member.no_hp;
                this.idEditMember = member.id;
                this.buttonStatus = 'update';
            },
            updateMember : function(idEditMember) {
                this.validationForm();

                if(this.errors.length === 0) {
                    let formData = new FormData();
                    formData.append('name', this.name);
                    formData.append('address', this.address);
                    formData.append('no_hp', this.no_hp);

                    let config = {
                        method: 'post',
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${idEditMember}`,
                        params: {_method: "PUT"},
                        data: formData
                    };

                    axios(config)
                        .then((response) => {
                            this.clearForm();
                            this.getMember();

                            alert('Member berhasil diedit!');
                            // console.log(response.data.message);
                        })
                        .catch((error) => {
                            alert(error);
                        })
                }
            },
            uploadPhoto : function(member) {
                this.name = member.name;
                this.address = member.address;
                this.no_hp = member.no_hp;
                this.buttonStatus = 'upload';
                this.idUploadMember = member.id;
            },
            submitPhoto : function(id) {
                let file = this.$refs.photo.files[0];
                let formData = new FormData();

                formData.append('photo_profile', file);

                let config = {
                        method: 'post',
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                        data: formData
                    };

                    axios(config)
                        .then((response) => {
                            this.clearForm();
                            this.getMember();

                            alert('Photo profile berhasil ditambahkan!');
                            // console.log(response.data.message);
                        })
                        .catch((error) => {
                            alert(error);
                        })
            }
        },
        created() {
            this.getMember();
        }
    });
</script>
</body>
</html>