<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hello, world!</title>
  </head>
  <body>

    <div id="app">
        <input type="text">
        <button>Add</button>
         
        <ul>
            <li v-for="(user, index) in users">
                {{index+1}}. {{user.name}} <button>Edit</button> | <button>Delete</button>
            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                users: [
                    {
                        name: 'Mumtaz Adzaki',
                    },
                    {
                        name: 'Hanin Mumtaza',
                    },
                    {
                        name: 'Umar Al - Faruq',
                    }
                ]
            },
            methods: {

            }
        });
    </script>
</body>
</html>